body {
    background-image: url(img/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    border: 8px solid rgb(100, 98, 98);
    box-shadow: 3px 3px 5px red;
    padding: 5px;
    display: inline-block;
    
}

.footer {
    color: rgb(255, 255, 255);
}

#footer_background {
    background-color: black;
    text-align: center;
}

img:hover {
    transform:scale(1.05); 
}